.input_field {
    padding: 10px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_label {
    font-size: 0.85rem;
    color: #3D3F42;
    font-weight: bold;
}

.title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #3D3F42;
}

.title-2 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #4154f1;
}

.input_label-2{
    font-size: 12px;
    color: #3D3F42;
    font-weight: 400;
}

.error-text{
    color: #DC3545;
}