.cardform {
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
}

.profile {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.role {
    font-size: 10px;
    color: #3D3F42;
    font-style: italic;
}